@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@{
    Layout = null;
    var parameters = RenderingContext.Current.Rendering.Parameters;
}
<div class="@(parameters["Container Class"])">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                @Html.Sitecore().DynamicPlaceholder("body",1,0,0)
            </div><!-- .col -->
            <div class="col-12 col-lg-6">
                @Html.Sitecore().DynamicPlaceholder("body", 1, 0, 0)
            </div><!-- .col -->
        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- .home-page-events -->