@using Sitecore.Data.Fields
@using Sitecore.Mvc
@using Sitecore.Foundation.SpeRendering
@model Sitecore.Data.Items.Item
@{
    var background = "";
    var imageField = (ImageField)Model.Fields[Constants.ViewConstants._BasePage.HeaderImage.ToString()];
    if (imageField != null && imageField.MediaItem != null)
    {
        var imageUrl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imageField.MediaItem);
        var mediaUrl = Sitecore.Resources.Media.HashingUtils.ProtectAssetUrl(imageUrl);
        background = "background: url("+ mediaUrl + ") no-repeat center";
    }
}
<div class="single-page">
    <div class="page-header" style="@background">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>
                        @Html.Sitecore().Field(Constants.ViewConstants._BasePage.PageTitle.ToString(), Model)                        
                    </h1>
                    @if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
                    {
                        @Html.Sitecore().Field(Constants.ViewConstants._BasePage.HeaderImage.ToString(), Model, new{w=300})
                    }
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .page-header -->
</div>