@using Sitecore.Mvc
@using Sitecore.Foundation.SpeRendering
@model Sitecore.Data.Items.Item
@{
    Layout = null;
}
<div class="footer-bar">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div><!-- .col-12 -->
        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- .footer-bar -->