@using Sitecore.Mvc
@{
    Layout = null;
}
<div class="@(Sitecore.Context.PageMode.IsExperienceEditorEditing ? "" : "swiper-container hero-slider")">
    <div class="@(Sitecore.Context.PageMode.IsExperienceEditorEditing ? "" : "swiper-wrapper")">
        @Html.Sitecore().DynamicPlaceholder("hero-slider-container")
    </div><!-- .swiper-wrapper -->

    @if (!Sitecore.Context.PageMode.IsExperienceEditorEditing)
    {
        <div class="pagination-wrap position-absolute w-100">
            <div class="container">
                <div class="swiper-pagination"></div>
            </div><!-- .container -->
        </div><!-- .pagination-wrap -->
        <!-- Add Arrows -->
        <div class="swiper-button-next flex justify-content-center align-items-center">
            <span><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1171 960q0 13-10 23l-466 466q-10 10-23 10t-23-10l-50-50q-10-10-10-23t10-23l393-393-393-393q-10-10-10-23t10-23l50-50q10-10 23-10t23 10l466 466q10 10 10 23z" /></svg></span>
        </div>
        <div class="swiper-button-prev flex justify-content-center align-items-center">
            <span><svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1203 544q0 13-10 23l-393 393 393 393q10 10 10 23t-10 23l-50 50q-10 10-23 10t-23-10l-466-466q-10-10-10-23t10-23l466-466q10-10 23-10t23 10l50 50q10 10 10 23z" /></svg></span>
        </div>
    }
</div><!-- .hero-slider -->